*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}
/* discount section styles */
.discount{
    height: 38px;
    width: 100%;
    background-color: #000000;
}

.discount-content{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
}

#text{
    text-align: center;
    flex: 1;
}

.text-white{
    color: #fff;
}

.disp{
    display: inline-block;
    padding: 5px;
    font-size: 12px;
}

#close-icon{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

/* header section styles */
header{
    height:100px;
    width: 100%;
    padding: 25px 100px;
    background-color: #fff;
}

.header-content{
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    gap:10px;
}

.logo{
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    height: 30px;
    width: auto;
    font-family: "New Amsterdam", sans-serif;
    font-size: 30px;
}

.menu-icon{
    display: none;
}

.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons span{
    display: flex;
    align-items: center;
}

.icons span i{
    font-size: 22px;
    padding-left: 10px;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap:15px;
    padding-left: 0px;
    margin:0;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.search-bar{
    position: relative;
}

.search-bar input{
    border:none;
    padding: 8px 10px 8px 35px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f5f5f5;
    width: 100%;
    max-width: 300px;
    outline: none;
}

.search-bar i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    pointer-events: none;
    background-color: #f5f5f5;
}
/* hero section styles */
.hero{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    position: relative;
}

.hero-content{
    position: relative;
    max-width: 600px;
    padding: 20px;
    margin-left:80px;
    z-index: 100;
}

.hero-image{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}

.hero-image img{
    width: 100%;
    height: 100%;
}

.star1{
    position: absolute;
    bottom:40%;
    right:50%;
}

.star2{
    position: absolute;
    top:20%;
    right: 50px;
}

.hero-title{
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: justify;
    font-family:  sans-serif;
}

.hero-para{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #636161;
}

.hero-btn{
    background-color: #000;
    color: #fff;
    padding: 12px 40px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
    border: none;
}

.hero-text{
    font-size: 30px;
}

.hero-subtext{
    color: #636161;
}
.hero-rankings{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-rankings div{
    text-align: center;
}

/* featured section styles */
.featured{
    width: 100%;
    background-color: #000;
}

.featured-content{
    padding: 30px;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 100px;
}

/* Arrivals section styles */
.arrivals{
    width: 100%;
    padding: 50px 100px;
    background-color: #fff;
}

.arrivals-title{
    font-family: sans-serif;
    text-align: center;
    font-size: 41px;
    margin-bottom: 40px;
    font-weight: 900;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}

.product{
    padding: 10px;
    text-align:center;
    width: 100%;
}

.product img{
    height: 298px;
    width: 295px;
    border-radius: 20px;
}

.product h3{
    font-size: 18px;
    margin: 10px 0;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    margin-bottom: 10px;
}

.rating i{
    color:#FFC633;
}

.rating span{
    font-size: 14px;
    color: #000;
}

.price{
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.original-price{
    text-decoration: line-through;
    font-size: 18px;
    color: #888;
    margin-left: 10px;
}

.offer{
    font-size: 11px;
    color: #FF3333;
    margin-left: 5px;
    background-color: #ff333316;
    border-radius: 50px;
    padding: 5px 10px;
}

.view-all-btn{
    display: block;
    margin: 40px auto;
    padding: 15px 60px;
    background-color: #fff;
    color: black;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 11px;
    cursor: pointer;
}
/* top selling section styles */
.selling{
    width: 100%;
    padding: 50px 100px;
    background-color: #fff;
}


.selling-title{
    font-family: sans-serif;
    text-align: center;
    font-size: 41px;
    margin-bottom: 40px;
    font-weight: 900;
}
/* category setion styles */
.category{
    margin: 20px 100px;
    padding: 20px 100px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.category-title{
    font-family: sans-serif;
    text-align: center;
    font-size: 41px;
    font-weight: 900;
    margin-bottom: 40px;
}

.categories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
}

.category-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.category-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-item span{
    position: absolute;
    top:0;
    left:0;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 900;
}

/* reviews section styles */
.reviews{
    width: 100%;
    padding: 50px 100px;
    background-color: #fff;
    text-align: center;
}

.reviews-title{
    font-size: 42px;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: 900;
}

.reviews-content{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.review{
    background: #fff;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4p 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 350px;
}

.review-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-rating i{
    color: #FFC633;
    margin-right: 2px;
}

.review h3{
    font-size: 18px;
    margin:0;
    font-weight:bold;
    font-family: sans-serif;
}

.review p{
    font-size: 16px;
    color: #000;
    font-family: 'Lato',sans-serif;
    text-align: justify;
    line-height: 1.1;
}

.bxs-check-circle{
    color: #21d07a;
}
/* footer section styles */
footer{
    background-color: #f0f0f0;
    padding: 40px 100px;
    color: #000;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section{
    flex: 1;
    margin: 0 20px;
    min-width: 200px;
    margin-bottom: 20px;
}

.logo-section{
    flex: 2;
}

.footer-section h4{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-section p{
    font-size: 14px;
    margin-top: 10px;
    color: #636161;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin-bottom: 10px;
}

.footer-section ul li a{
    text-decoration: none;
    color: #000;
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    margin-right: 10px;
    font-size: 20px;
    color: #000;
    padding: 8px;
    text-decoration: none;
}

.social-icons a:hover{
    border-radius: 20px;
    border: none;
    background-color: grey;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    max-width: 1200px;
    margin:0 auto;
}

.footer-bottom p{
    margin:0;
}

.payment-icons img{
    width: 40px;
    height: 30px;
    margin-right: 10px;
    border-radius: 2px;
    background-color: #fff;
    padding: 5px;
}

/* mobile responsive */
@media only screen and (max-width:468px){
    /* discount section */
    #close-icon{
        display: none;
    }

    .discount-content{
        padding: 10px;
    }
    /* nav section */
    header{
        padding: 15px 20px;
        height: 60px;
    }

    .header-content{
        grid-template-columns: auto 1fr auto auto;
    }

    .logo{
        font-size: 24px;
        width: auto;
    }

    nav ul{
        display: none;
    }

    .search-bar input{
        display: none;
    }

    .search-bar{
        background: none;
    }

    .search-bar i{
        color: #000;
        background: #fff;
    }

    .menu-icon{
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .icons span i{
        margin-left: 10px;
        font-size: 20px;
    }
    /* hero section */
    .hero{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .hero-content{
        margin-left: 0;
        text-align: center;
        background-color: #f0f0f0;
    }

    .hero-title{
        font-size: 30px;
        margin-bottom: 15px;
        text-align: center;
    }

    .hero-para{
        font-size: 14px;
        margin-bottom: 20px;
    }

    .hero-image{
        display: none;
    }

    .hero-btn{
        padding: 10px 30px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .star1,.star2{
        display: none;
    }
    /* featured section */
    .featured{
        min-height: 200px;
    }

    .featured-content{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        height: 100%;
    }

    .featured-content > div{
        flex: 1 1 30%;
        display: flex;
        justify-content: center;
    }

    .featured-content > div:nth-child(1),
    .featured-content > div:nth-child(2),
    .featured-content > div:nth-child(3) {
        order: 1;
    }

    .featured-content > div:nth-child(4),
    .featured-content > div:nth-child(5) {
        order: 2;
    }

    /* arrivals section */
    .arrivals{
        padding: 20px 10px;
    }

    .arrivals-title{
        font-size: 28px;
        margin-bottom: 20px;
    }

    .products{
        grid-template-columns: 1fr;
    }

    .product img{
        height: auto;
        width: 100%;
    }

    .product h3{
        font-size: 16px;
    }

    .rating span{
        font-size: 16px;
    }

    .price{
        font-size: 16px;
    }

    .original-price{
        font-size: 16px;
    }

    .offer{
        font-size: 10px;
    }

    .view-all-btn{
        padding: 10px 30px;
        font-size: 10px;
    }
    /* selling section */
    .selling{
        padding: 20px 30px;
    }

    .selling-title{
        font-size: 28px;
        margin-bottom: 20px;
    } 
    /* categories section */
    .category{
        margin: 10px 20px;
        padding: 10px 20px;
    }

    .category-title{
        font-size: 28px;
        margin-bottom: 20px;
    }

    .categories{
        grid-template-columns: 1fr;
    }

    .category-item{
        height: 150px;
    }

    .category-item img{
        height: 100%;
    }

    .category-item span{
        font-size: 18px;
        padding: 5px;
    }
    /* review section */
    .reviews{
        padding: 20px 10px;
    }

    .reviews-title{
        font-size: 28px;
        margin-bottom: 20px;
    }

    .reviews-content{
        flex-direction: column;
        align-items: center;
    }

    .review{
        max-width: 100%;
        margin-bottom: 20px;
    }

    .review h3{
        font-size: 16px;
    }

    .review p{
        font-size: 14px;
    }
    /* footer section */
    footer{
        padding: 20px 10px;
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-section{
        margin: 10px 0;
        text-align: center;
    }

    .logo-section{
        flex: 1;
    }

    .footer-section h4{
        font-size: 14px;
    }

    .footer-section p{
        font-size: 12px;
    }

    .footer-bottom{
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom p{
        margin-bottom: 20px;
    }

    .payment-icons img{
        width: 30px;
        height: 25px;
        margin-right: 5px;
    }
}